
* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter';
}


.flexbox {
    display: flex;
}

.right-side {
    width: calc(100vw - 232px);
    height: calc(100vh - 156.5px);
    padding-left: 232px;
    padding-top: 106.5px;
}

nav {
    background-color: rgb(42, 54, 71);
    position: fixed;
    width: 232px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.center-x {
    display: flex;
    justify-content: center;
}

.center-y {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo {
    width: 103px;
    height: 121px;
    padding: 64px 0;
}

.icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.link {
    font-size: 16px;
    font-weight: 400;
    color: #CDCDCD;
    padding: 8px 56px;
    text-decoration: none;


    padding: 0px 10px;

}

.active-link {
    background-color: #091931;
    color: white !important;
}

footer {
    display: flex;
    gap: 8px;
    flex-direction: column;
    padding-bottom: 30px;
    align-items: center;
    margin-top: auto;
}

.footer_links_mobile {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.mobile_links {
    width: 232px;
    height: 46px;
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_mobile {
    display: none;
}



@media(max-width:800px) {
    .header {
        left: 206px;
    }

    .nav {
        width: 206px;
    }
}

@media(max-width:800px) {
    .logo_mobile {
        display: flex !important;
        position: fixed !important;
        height: 80px !important;
        width: 80px !important;
        left: 30px !important;
        top: 10px !important;
    }

    .right-side {
        width: auto;
        height: auto;
        padding-left: unset;
        padding-top: unset;
    }

    .mobile_links {
        gap: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        padding: 8px !important;
        width: auto;
    }



    .help {
        display: none;
    }

    header {
        max-width: calc(798px - 40px);
        left: 0px;
    }

    .header_p {
        display: none;
    }

    .spaceBetween {
        justify-content: flex-end;
    }

    nav {
        display: flex !important;
        justify-content: space-around !important;
        height: 80px !important;
        width: 100vw !important;
        z-index: 1999 !important;        
        position: fixed !important;
        bottom: 0 !important;
        left: 0 !important;
    }

    .footer_links_mobile {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .link {
        font-size: 12px;
    }

    .center-y {
        flex-direction: column;
    }

    nav footer {
        display: none;
    }

    .center-x {
        display: none;
    }
}

@media (max-width: 400px) {
    .logo_mobile {
        display: flex !important;
        position: fixed !important;
        height: 48px !important;
        width: 48px !important;
        left: 30px !important;
        top: 23px !important;
    }
    .user {
        height: 48px !important;
        width: 48px !important;
    }
    .footer_links_mobile {
        display: flex !important;
        align-items: center !important;
        flex-direction: row !important;
        justify-content: space-evenly !important;
    }
    .mobile_links {
        gap: 20px !important;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
        border-radius: 15px  !important;
        padding: 8px !important;
        width: auto !important;
    }
    .link {
        padding: 0px 5px !important
    }
}
