
<form onsubmit="addTask(); return false">
    <div class="addTaskBoardSite"> 
        <h1>Add Task</h1>
        <img class="" onclick="removeAddTaskDialog()" src="./assets/img/crossIcon.png" alt="">
        </div> 
    <div class="positionInputFields">
        <div class="leftInput">
            <div class="column distanceBetweenIput">
                <label for="title">Title<span class="colorRed">*</span></label>
                <div class="fake-input">
                    <input required id="title" type="text" placeholder="Enter a Title">
                </div>
            </div>
            <div class="column distanceBetweenIput">
                <label for="description">Description</label>
                <div class="fake-textarea">
                    <textarea id="description" class="textarea" placeholder="Enter a description"></textarea>
                </div>
            </div>
            <div class="column distanceBetweenIput">
                <label for="assignContact">Assign to</label>
                <div class="fake-input">
                    <input id="assignContact" oninput="showContacts()" placeholder="Select contacts to assign" type="text">
                   <div id="contactSection" class="flexbox"> 
                    <img onclick="showContacts()" class="taskIcon" src="./assets/img/removeExtensionIcon.png" alt="">
                    </div>
                </div>
                <div id="addContact">

                </div>
                <div id="addContactIcon">

                </div>
            </div>
        </div>

        <div class="verticalLine"> </div>


        <div class="rightInput">
            <div class="column distanceBetweenIput">
                <label for="date">date<span class="colorRed">*</span></label>
                <div class="fake-input">
                    <input required id="date" type="date">
                </div>
            </div>
            <div class="distanceBetweenIput">
                <button type="button" onclick="changePrioToUrgent()" class="distanceSmall prioButton">
                    <span>Urgent</span>
                    <img id="urgent" class="priorityImage" src="./assets/img/UrgentPriority.png"
                        alt="">
                </button>
                <button type="button" onclick="changePrioToMedium()" class="mediumPriority distanceSmall prioButton">
                    <span>Medium</span>
                    <img id="medium" class="priorityImage" src="./assets/img/activeMediumPriority.png" alt="">
                </button>
                <button type="button" onclick="changePrioToLow()" class="distanceSmall prioButton">
                    <span>Low</span>
                    <img id="low" class="priorityImage" src="./assets/img/LowPriority.png" alt="">
                </button>
            </div>

            <div class="column distanceBetweenIput">
                <label for="category">category<span class="colorRed">*</span></label>
                <select required id="category" class="input" id="category" placeholder="Select a category">
                    <option>Technical Task</option>
                    <option>User Story</option>
                </select>
            </div>

            <div class="column distanceBetweenIput">
                <label for="subtask">Subtasks</label>
                <div class="fake-input">
                    <input id="subtask" placeholder="Add new subtask">
                    <img onclick="addSubTask()" class="taskIcon" src="./assets/img/addSubTask.png" />
                </div>
                <div id="addSubTask">

                </div>
            </div>
        </div>
    </div>


    <div class="positionButton">
        <p><span class="colorRed">* </span>This field is required</p>
        <div class="flexboxWithGap">
            <button class="whiteButton centery" onclick="removeAddTaskDialog()" type="button"> <span> Cancel</span> <img src="./assets/img/close.svg" alt=""></button>
            <button type="submit" class="createButton centery"> <span> Create Task</span>  <img src="./assets/img/hook.svg" alt=""></button>
        </div>
    </div>
</form>