<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="./css/fonts.css">
</head>
<body>
    <nav class="navcontainer">

        <img class="logo_mobile" src="./assets/img/log_in_img/Capa 1.svg" alt="">
    
        <div class="center-x">
            <img class="logo" src="./assets/img/joinLogo.png" alt="">
        </div>
    
        <div class="footer_links_mobile">
            <div id="summarySite" class="mobile_links active-link"> <a class="link center-y" href="./summary_user.html"> <img class="icon" src="./assets/img/summaryIcon.png" alt=""> Summary</a> </div>
            <div id="addTaskSite" class="mobile_links"> <a class="link center-y" href="./add_task.html"><img class="icon" src="./assets/img/addTaskIcon.png" alt="">Add Task</a> </div>
            <div id="boardSite" class="mobile_links"> <a class="link center-y" href="./board.html"><img class="icon" src="./assets/img/boardIcon.png" alt="">Board</a> </div>
            <div id="contactSite" class="mobile_links"> <a class="link center-y" href="./contacts.html"><img class="icon" src="./assets/img/contact.png" alt="">Contact</a> </div>
        </div>
    
    
        <footer>
            <div><a target="_blank" class="link" href="./privay_policy.html">Privacy Policy</a></div>
            <div><a target="_blank" class="link" href="./legal_notice.html">Legal notice</a></div>
        </footer>
    
    </nav>
</body>
</html>

